* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;    
}
/*
.wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(224, 109, 64, 0.2);
}
*/
.header {
    height: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
    display: flex;
    opacity: 0;
    transition: all 1s ease 0s;
}

.header:hover {
    opacity: 1;
}

.nav {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav__item {
    color: #f82137;
    text-decoration: none;
    text-transform: uppercase;
}

.section {
    height: 100vh;
}

.main {
    background-image: url(img/new_years.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about {
    z-index: 100;
    position: relative;
    display: flex;  
    width: 75%;  
    margin-bottom: 20px;
    font-family: 'Marck Script', cursive;
}

.about__avatar {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 5px solid white;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 15px;
    transition: all 1s ease-out 0s;
}

.about__avatar:hover {
    transform: rotate(20deg);
}

.about__img {
    height: 100%;
}

.about__info {
    background-color: rgba(115, 25, 40, 0.9);
    color: white;
    padding: 20px;
    border-radius: 20px;
    border: 5px solid white;
}

.about__title {
    font-size: 50px;
    margin: 0;
}

.about__text {
    font-size: 20px;
}

.button {
    position: relative;
    z-index: 100;
    background-color: #c8293e;
    padding: 15px;
    display: block;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-family: arial;
    text-transform: uppercase;
    transition: all 1s ease 0s;
}

.button:hover {
    box-shadow: 0px 0px 13px 5px rgb(255, 149, 87);
    
}


 .poem {
      background-image: ;
      background-size: cover;
      padding: 50px;
      text-align: center;
 }

 .poem__title {
     margin-top: ;
 }

.poem__text {
    min-height: 580px;
    border: ;
}

.msg {
    background-image: url(img/rabstol_net_new_year_139.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}

.msg__title {
    margin-bottom: 68px;
    text-transform: uppercase;
}

.form-msg {
    width: 600px;
    padding: 40px 40px 65px;
    background-image: url(img/wadaw.jpg);
    background-position: right center;
    background-size: cover;
    border-radius: 10px;
    position: relative;
}

.form-msg__content {
    width: 90%;
    margin: 0 auto;
}

.form-msg__row {
    margin-bottom: 10px
}

.form-msg__title-input {
    font-size: 20px;
    margin-bottom: 10px;
}

.form-msg__input, .form-msg__message {
width: 100%;
border-radius: 5px;
font-size: 20px;
outline: none;
border-style: none;
padding: 10px;
}

.form-msg__message {
    height: 200px;
    resize: none;
}

.form-msg__button-wrap {
    display: flex;
    justify-content: end;
    
}

.form-msg__sumbit {
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    background-color: #f82137;
    border: none;
    cursor: pointer;
    transition: all 1s ease 0s;
    border-radius: 7px;
}

.form-msg__sumbit:hover {
    transform: scale(1.2);
}

.form-msg__img-wrap {
    height: 200px;
    position: absolute;
    right: 0;
    top: -157px;
}

.form-msg__img {
    height: 100%;
}

